<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Courses</title>
</head>
<body>
    <div id="logoContainer" onclick="window.location.href='/'">
        <img src="../static/logo.svg" alt="My Logo" id="logo">
    </div>
    <div id="courseTableContainer">
        <table id="courseTable">
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Institution Name</th>
                    <th>Campus</th>
                    <th>Semesters</th>
                    <th>Fee</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                    <tr>
                        <td>{{ course.course_name }}</td>
                        <td>{{ course.college_id.college_name }}</td>
                        <td>{{ course.college_id.location }}</td>
                        <td>{{ course.tenure }}</td>
                        <td>{{ course.fee }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
