<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Search Courses</title>
    <script>
        var courseNames = {{ course_names|safe }};
    </script>
</head>
<body>
    <div class="container">
        <form id="searchForm" action="{% url 'list_courses' %}" method="GET">
            <input type="text" id="courseSearch" name="search" placeholder="Search for courses...">
            <ul id="courseSuggestions"></ul>
        </form>
    </div>

    <script src="../static/script.js"></script>
</body>
</html>
