@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9; /* Set your desired background color */
}

.container {
    text-align: center;
    position: relative; /* Add relative positioning */
}

.find-course-box,
.find-career-box {
    padding: 20px 50px;
    font-size: 16px;
    background-color: #478ff4;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 120px;
    display: inline-block;
    text-align: center; /* Center the text within the div */
    margin: 0 10px; /* Adjust the distance between the div blocks */
    cursor: pointer;
}

input {
    padding: 15px; /* Increase padding for both top and bottom */
    margin: 10px;
    width: 400px; /* Increase the width as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Increase font size as needed */
}

ul {
    list-style-type: none;
    padding: 0;
    position: absolute; /* Add absolute positioning */
    top: 100%; /* Position the suggestions below the input */
    left: 0;
    width: 100%; /* Make the suggestion list same width as the input */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

li:hover {
    background-color: #eee;
}

/* Styles for the search results table */
#courseTableContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 1000px;
    margin: auto;
    transform: translateY(45%);
}

table, th, td {
    border: 1px solid lightgrey;
}

th, td {
    padding: 12px;
    text-align: left;
    border: none;
}

tr {
    background-color: #fff; /* Background color for each row */
    border-radius: 8px; /* Adjust the border-radius as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a box-shadow for a subtle effect */
}

.clickable-content {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}

#logoContainer {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000; /* Adjust the z-index as needed to ensure it's above other elements */
}

#logo {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}